[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pillow = "*"
itchat = "*"
pyecharts = "*"
jieba = "*"
echarts-china-provinces-pypkg = "*"
echarts-countries-pypkg = "*"
tqdm = "*"

[requires]
python_version = "3.7"
